body {
    font-family: Arial, sans-serif;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

nav ul li a:hover {
    text-decoration: underline;
}
