<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        body {
            background-image: url('back.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            color: white;
            text-shadow: 2px 2px 4px #000000;
        }


        h1 {
            font-size: 3em;
        }

        a {
            color: white;
            text-decoration: none;
            font-size: 1.5em;
            margin: 0 10px;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container">
        <div>
            <h1>Welcome to the Home Page</h1>
            <a href="/register">Register</a>
            <a href="/admin/login">Login as Admin</a>
            <a href="/login">Login</a>
        </div>
    </div>
</body>
</html>